@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #fff;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-myfont);
}

.moveX {
    animation-name: moveAnimation;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.moveXReverse {
    animation-name: moveAnimationReverse;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes moveAnimation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes moveAnimationReverse {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
html, body {
  overflow-x: hidden;  
  width: 100%;
}


.footer{
    width: 100%;
    background: #000;
    color: #fff;
    padding: 40px 40px 20px ;
}

.footer-social{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 60px;
    flex-wrap: wrap;
}

.pill{
    border:3px  solid #fff;
    padding: 15px 35px;
    border-radius: 50px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    display: inline-block;
}

.pill:hover{
    background: #fff;
    color: #000;
    transition: 0.3s ;
}

.pill .contact {
    padding: 15px 50px ;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  opacity: 0.75;
  text-transform: uppercase;
}

.footer-center a {
  margin: 0 12px;
  cursor: pointer;
}

.footer-right a {
  cursor: pointer;
}


.animate-ellipse{
    /* Think of it as how long your string is. */
    stroke-dasharray: 1000;
    /* Think of it as sliding that string along the path.
    If stroke-dashoffset: 0; → the string is back in place → stroke looks fully visible.
    */
    stroke-dashoffset: 0;
    animation: draw 3s linear infinite;
}


@keyframes draw {
    0% {
        stroke-dashoffset: 1000;
    }
    50%{
        stroke-dashoffset: 10;
    }
    100% {
        stroke-dashoffset: -1000;
    }
}

